body {
    background-color: black;
    background-image: url(./images/Hexagon.svg);
    color: #fff;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Changa', sans-serif;
}

.section-info {
    margin: 10px;
    margin-bottom: 0;
}

.avatar {
    width: 120px;
    border-radius: 50%;
}

.section-info__name {
    font-size: 2.5em;
    font-weight: 500;
    margin: 0;
}

.section-info__info {
    font-size: .9em;
    font-weight: 100;
    margin: 0;
}

.section-links {
    margin: auto;
    width: 85vw;
    max-width: 500px;
}

.section-links__list {
    border-radius: 20px;
    background-color: #272727;
    padding: 10px 0;
    box-sizing: border-box;
    width: 100%;
}

.section-links__list li {
    height: 40px;
    border-radius: 20px;
    width: auto;
    list-style-type:none;
    margin: 10px;
    transition: 1s;
}

.section-links__list__tiktok {
    background-color: #000;
}

.section-links__list__twitch {
    background-color: #5709d4;
}
.section-links__list__instagram {
    background: linear-gradient(110deg, #5709d4, #ba43ff, #ee410d, #f0ff1c ) ;
}
.section-links__list__youtube {
    background-color: #ff0000;
}
.section-links__list__czmu {
    background-color: #000;
}
.section-links__list__discord {
    background-color: #5D6AF2;
}

.link {
    box-sizing: border-box;
    display: flex;
    height: 40px;
    width: 230px;
    margin: 10px 20px;
    text-decoration: none;
    justify-content: center;
}

.link i {
    font-size: 1.3em;
    position: relative;
    right: 80px;
    margin-top: 10px;
}

.fa-instagram {
    margin-left: 25px;
}

.fa-youtube {
    margin-left: 10px;
}

.czmu {
    position: relative;
    top: -15px;
    left: -80px;
}

.link span {
    font-size: 1em;
    margin: 5px 0;
    color: #fff;
}

.share-button {
    width: 200px;
    height: 50px;
    border-radius: 20px;
    border: none;
    background-color: #ff0000;
    color: #fff;
    font-size: 1.2em;
    text-transform: uppercase;
    padding: 0 10px;
    box-sizing: border-box;

    display: none;
}


@media screen and (min-width: 767px) {
    body{
        display: flex;
        margin: 90px;
        background-image: url(./images/Hexagon.desktop.svg);
    }
    .avatar{
        width: 200px;
    }
    .section-info__name{
        font-size: 3em;
    }
    .section-info__info{
        font-size: 1.3em;
    }
    .section-links__list {
        width: 500px;
    }
    .section-links__list li {
        height: 50px;
        margin: 20px;
    }
    .link{
        width: 450px;
    }
    .link i {
        right: 170px;
        font-size: 1.8em;
    }
    .czmu {
        top: -10px;
        left: -170px;
    }
    .link span {
        font-size: 1.4em;
    }
}
